
/* gives properties to the h2 tag */
h2 {
    color: green;
}

/* Example of an id that makes a container a square */
#square {
    background-color: red;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-right: 5vw;
    padding-left: 5vw;
}

/* example of a class that centers and bolds text */
.exampleClass {
    text-align: center;
    font-weight: bold;
}